@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap');
@import "~antd/dist/antd.css";

* {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none;
    background: none;
    border-color: $color-main;

    &:hover {
        background: none;
        border-color: $color-main;
    }

    @include notebook {
        display: inline-block;
    }
}

.barsMenu>span {
    display: block;
}

.barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: $color-main;
    position: relative;
}

.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: $color-main;
}

.barsBtn:after {
    top: auto;
    bottom: -6px;
}

.ant-drawer-content-wrapper {
    width: 320px!important;
}

.desktop {
    @include tablet {
        display: none;
    }
}

.mobile {
    display: none;
    @include tablet {
        display: inherit;
    }
}

.button {
    display: inline-block;
    padding: 20px 70px;
    background-color: #F97850;
    font-size: $size-font-main;
    font-weight: $font-weight-bold;
    color: $color-light;
    cursor: pointer;
    text-align: center;

    &:hover {
        opacity: 0.7;
    }
}

.section_top {
    background-size: cover;
    padding-bottom: 200px;
    background-repeat: no-repeat;

    @include tablet {
        background-size: cover;
        text-align: center;
        padding-bottom: 118px;
    }

    &__title {
        margin: 0 0 20px 0;
        padding-top: 118px;

        p {
            font-family: 'Teko', sans-serif;
            font-size: $size-font-big;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 62px;
            margin: 0;

            @include tablet {
                font-size: 34px;
                line-height: 34px;
            }
        }
    }

    &__subtitle {
        font-size: $size-font-main;

        @include tablet {
            font-size: 14px;
        }
    }

    &__content {
        max-width: 500px;

        @include tablet {
            max-width: 100%;
        }
    }

    &__button {
        margin-top: 30px;
    }
}